<header
  class="py-3 bg-image-full"
  style="background-image: url('<%= image_path("banner-drawing2.png") %>');"
>
  <div class="text-center mt-3 mb-5">
    <h1 class="text-white fw-border display-4">
      <%= t "info.title" %>
    </h1>
  </div>
</header>
<section class="py-3">
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="fit-content">
        <h2 class="text-center"><%= @user.greeting %></h2>
        <div class="fs-5"><%= simple_format @user.text %></div>
        <p class="text-center fs-5">Ai &amp; Daniel</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-1">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-center">&#128146; <%= t "info.date" %> &#128146;</h2>
        <% if @user.townhall %>
          <%= render "event_card", event: @events[:townhall] %>
        <% end %>

        <%= render "event_card", event: @events[:party] %>

        <% if @user.after_party %>
          <%= render "event_card", event: @events[:after_party] %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="mx-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center">&#128176; <%= t "pot.title" %> &#128176;</h2>
      <div id="pot"></div>
    </div>
  </div>
</section>

<div class="attendance mt-5">
  <% case @user.attendance %>
  <% when "pending" %>
  <h3 class="text-center mt-3"><%= t "attendance.question" %></h2>
  <div class="row justify-content-center">
    <div class="fit-content">
      <%= form_with(url: attendance_path, method: :post, class: "d-inline-block") do |f| %>
        <%= f.hidden_field(:token, value: @user.token) %>
        <%= f.hidden_field(:attendance, value: "present") %>
        <%= f.submit t('attendance.yes'), class: "btn btn-outline-success d-inline-block mx-3", data: { confirm: t('attendance.confirm_yes') } %>
      <% end %>

      <%= form_with(url: attendance_path, method: :post, class: "d-inline-block") do |f| %>
        <%= f.hidden_field(:token, value: @user.token, id: "absent-token") %>
        <%= f.hidden_field(:attendance, value: "absent", id: "absent-attendance") %>
        <%= f.submit t('attendance.no'), class: "d-inline-block btn btn-outline-secondary", data: { confirm: t('attendance.confirm_no') } %>
      <% end %>
    </div>
  </div>
  <% when "absent" %>
  <h4 class="text-center mt-5 font-size-lg">
    <%= simple_format t("attendance.absent") %>
  </h4>
  <% when "present" %>
  <h4 class="text-center mt-3 font-size-lg">
    <%= simple_format t("attendance.present") %>
  </h4>
<% end %>
</div>

<section class="mx-5 mt-5">
  <div class="photo-carousel glide text-center">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <% @images.each do |image| %>
          <li class="glide__slide"><img src="<%= image_path("ai-dany/#{image}") %>"></li>
        <% end %>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-arrow-left"></i></button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
</section>

<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <span class="text-muted">
      <%= t("footer") %>
    </span>
  </div>
</footer>

<script>
  window.addEventListener("load", function () {
      new Glide('.glide', {
          autoplay: 3000
      }).mount();
  });
</script>
